
.flex-container {
    display: flex;
    /* background-color: white; */
    flex-wrap: nowrap;
}

.flex-container>.NAV_lgo{

    margin-left: 500px;
    margin-right: 300px;

}

.flex-container>.NAV_Elmnt{

    margin-left: 5px;
    height: 20px;
    width: 200px;

}

.navbar{
    justify-content:unsafe;
}

/* *********************************************************************** */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  /* ************************************************************************ */
  .col-4{
      padding-right: 0px;
  }

/* ************SLIDER**************** */
.carousel-indicators>li {
  background-color: #000;
}